<div class="log-in col-xs-12 col-sm-4 col-sm-offset-1">
  <h2>Log In</h2>
  <br />
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, autofocus: true %>
    <br />
    <%= f.input :password, autocomplete: "off" %>
    <br />
    <%= f.button :submit, "Log in", :class => 'btn btn-primary' %>
  <% end %>
  <br/>
  <%= render "devise/shared/links" %>
</div>
